language: node_js

services:
  - docker
  - mongodb

node_js:
  - 10

install:
  - npm install typescript

script:
  - npm run lint
  - npm run build
  - npm run coverage
  - npm run codecov

after_success:
  - npm i -g surge
  - surge --project ./coverage/lcov-report --domain ykv-template-cov.surge.sh
